# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
Summary = {"dslanguages","dslibraries", "dstools"}

Some of the popular languages that Data Scientists use are:
languagelist = ["R", "Python", "SQL", "JAVA"]

Some of the commonly used libraries used by Data Scientists include:
dslibraries = ["ggplot", "caret", "pandas", "Numpy"]

Data Science tools
Python
R
Numpy

### Below are a few examples of evaluating arithmetic expressions in Python
result_addition = 5+3
result_subtraction = 5-3

In [1]:
#This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
print (result)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print (hours)

3.3333333333333335

## Author##
Janani N